// Links styles
a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
        transition: color 400ms ease-in-out;
    }
    svg {
        margin-right: 5px;
        &:hover {
            color: $secondary-color;
            transition: color 400ms ease-in-out;
        }
    }
}

// Form styles
form {
    input {
        &::placeholder {
            color: $input-color !important;
        }
    }
    .form-control,
    .form-select {
        border: 2px solid $input-color;
        border-radius: 10px;
        padding: 10px;
        &:focus {
            border: 2px solid $primary-color;
            box-shadow: none;
            background-color: #ffffff;
            transition: background-color 15ms ease-in-out;
        }
    }
    .form-label {
        font-weight: 500;
    }
}
