// Fonts 

$main-font: "Poppins", sans-serif;
$secondary-font: "Manrope", sans-serif;
$figure-font: "IBM Plex Sans", sans-serif;


// Text colors

$background-text-color: #ffffff;
$header-color: #a8cfcc;
$search-bar-color: #cacaca;

// Main colors 

$primary-color: #005aff;
$secondary-color: #f22979;
$input-color: #dadada;

// Background colors