@import "bootstrap";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./custom";

@import "../../components/Pages/AuthenticationPage/auth";
@import "../../components/Pages/DashboardPage/dashboard";
@import "../../components/SearchBar/searchbar";

body,
html {
    font-family: "Poppins", sans-serif;
}

.fullsize-container {
    @include make-container();
    height: 100vh;
}

@for $i from 1 to 10 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}

.hero {
    @include make-layer(#000000, 1);
}

.figure{
    font-family: $figure-font;
}

.qb-button{
    font-family: $secondary-font;
}

